<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><%= link_to "Home", users_path %></a>
      <a class="navbar-brand">Search</a>
  </div>
</nav>
