<!-- <% if click_on "View in Alphabetical Order" %>
<ul>
<% @photos.alphabetical.each do |photo|%>
<li><img src="<%= photo.url %>"><br><%= link_to photo.title, photo_path(photo) %></li>
</ul>
<% end %>
<% elsif click_on "View by Creation Date" %>
<ul>
  <% @photos.creation.each do |photo|%>
  <li><img src="<%= photo.url %>"><br><%= link_to photo.title, photo_path(photo) %></li>
</ul>
<% end %>
<% else %> -->
