<h1>Photos</h1>
<ul>
  <% @photos.each do |photo|%>
  <li><img src="<%= photo.url %>"><br><%= link_to "Comment on Photo", photo_path(photo) %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New Photo", new_photo_path %>
